<div id='user_form_wrapper'>
	<h1>Create a new User</h1>
	<%= form_for @user, html: {id: 'user_form'} do |f| %>
		<%= render partial: 'shared/error_messages', object: @user.errors.messages if @user.errors.any? %>
		<%= render partial: 'form', object: f %>
		<%= f.submit "Create Account" %>
	<% end %>	
</div>
	