<h2>Create a new post</h2>
<%= form_for @post, html: {id: 'post_form', multipart: true} do |f| %>
	<%= render partial: 'shared/error_messages', object: @post.errors.messages if @post.errors.any?%>
	<%= render partial: 'form', object: f, locals: {photos: @post.photos} %>
	<%= f.submit 'Create Post' %>
<% end %>	
