body{
	margin: 0;
	font-size: 14px;
	overflow-x: hidden;
}

	#container{
		margin: 0 auto;
		width: 100%;
		max-width: 1000px;
	}
	
	.banner_image{
		left: 10%;
		max-width: 700px;
	}
	
	.pane{
		position: absolute;
		width: 10%;
		height: 400px;
		background-color: white;
		display: inline-block;
	}
	
	#pane_left{
		left: 0%;

	}

	#pane_right{
		left: 90%;	
	}